* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family:"Roboto", sans-serif;
    background-color:#fafafa
}


/*........................................Navigation bar*/

.nav-container {
    background-color:#fafafa;
    position:fixed;
    top:0;
    z-index:1;

}

.nav-style {
    font-family:"Poppins", sans-serif;
    letter-spacing:2px;
}

nav a {
     color:#c93e4c;
}

nav li {
    margin-right:10px;
}

.title {
    font-weight:200;
    font-size:40px;
}

.menu {
    text-transform: uppercase;
}

.nav-link {
    padding:4px;
}

.active a {
    border-bottom: 1px solid #c93e4c;
}

/*........................................Buttons*/

.btn--cta {
    text-transform: uppercase;
    font-weight:bold;
    border-radius:23px;
    width: 120px;
}

.btn--cta--img {
    text-transform: uppercase;
    font-weight:bold;
    border-radius:23px;
    width: 180px;
    font-size:24px;
}


.btn--red {
    color:#fafafa;
    background-color:#c93e4c;
    border-color:#c93e4c;
}

.image-button-position {
    margin-top:320px;
}

.media-button-position {
    margin-top:10px;
}




/*........................................Hover*/


.btn--red:hover,
.btn--red:active {
    color:#c93e4c;
    background-color:#fafafa;
    border-color:#c93e4c;
    box-shadow:none;
}

.btn--red:focus {
    box-shadow:none;
}


nav a:hover {
    color:#c93e4c;
    border-bottom: 1px solid #c93e4c;
}

nav a.title:hover {
    border: none;
    text-decoration:none;
}

.social-links-footer li a i:hover {
    background-color:#c93e4c;
    color:#fafafa;
    border-color:#fafafa;
}


/*........................................hero image*/

#hero-container {
    overflow:hidden;
    height:500px;
}

.hero-image {
    height:500px;
    background: url("../../assets/images/le-nuvole.jpg") no-repeat top;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top:76px;

    animation-name:hero-zoom;
    animation-duration:5s;
    animation-fill-mode: forwards;
}

.media-image {
    height:500px;
    background: url("../../assets/images/le-nuvole14.jpg") no-repeat top;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top:76px;
    position:relative;
}

.opaque-overlay {
    background-color:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
@keyframes hero-zoom {
    from {
        transform:scale(1)
    }
    to {
        transform:scale(1.05)
    }
}

/*........................................theme colors*/

.lenuvole-color-theme {
    background-color:#c93e4c;
    color:#fafafa;
}

.lenuvole-color-theme-reverse {
    background-color:#fafafa;
    color:#c93e4c;
}

.thead-theme {
    background-color:#c93e4c;
}

/*........................................headers*/

.page-headers {
    font-size:36px;
    text-transform: uppercase;
    text-align: center;
    margin-top:25px;
    margin-bottom:25px;
    padding:0 15px 0 15px;
}

.section-margins .page-headers {
    margin-bottom:12px;
}

.about-subheader {
    text-align: center;
    margin-bottom:25px;
    padding:0 15px 0 15px;
}

.social-header {
    color:#c93e4c;
    margin-top:42px;
}

.table-header {
     color:#c93e4c;
     font-size:36px;
}

.media-subtitle {
    font-size:48px;
    text-transform: uppercase;
    text-align: center;
    margin-top:100px;
    margin-bottom:25px;
    margin-left:100px;
    margin-right:100px;
    color:#fafafa;
}



/*.................................................Special paddings/margins/text*/

.about-bio {
    padding:0 20px 0 20px;
}

.section-margins {
    margin:0;
}

/*........................................footer*/

footer {
    background-color:#c93e4c;
}

.social-links-footer {
   text-align:center; 
   margin-bottom:10px;
}

.social-links-footer li a i {
    width:24px;
    height:24px;
    padding:12px 0;
    border-radius:50%;
    font-size:14px;
    margin-top:14px;
    line-height:0.5px;
    color:#c93e4c;
    background-color:#fafafa;
}

.footer-bio {
    text-align:center;
    color:#fafafa;
    margin-bottom:8px;
    font-size:14px;
}

/*........................................social media*/

.social-links-section {
   text-align:center; 
}

.social-links-section li a i {
    width:56px;
    height:56px;
    padding:28px 0;
    border-radius:50%;
    font-size:32px;
    margin-bottom:42px;
    line-height:0.5px;
}

.list-inline-item:not(:last-child) {
    margin-right:24px;
}

 .facebook-logo i {
    background-color:#3b5998;
    color:#ffffff;
 }

 .twitter-logo i {
    background-color:#00acee;
    color:#ffffff;
 }

 .instagram-logo i {
    background-color:#e1306c;
    color:#ffffff;
 }

 .youtube-logo i {
    background-color:#c4302b;
    color:#ffffff;
 }

/*........................................media queries*/

@media screen and (max-width:415px) {
    .image-button-position {
         margin-top:120px;
    }
    .btn--cta--img {
        text-transform: uppercase;
        font-weight:bold;
        border-radius:23px;
        width: 150px;
        font-size:20px;
    }
}

@media screen and (max-width:415px) {
    .hero-image {
        width:100%;
        height:250px;
    }
    #hero-container {
        overflow:hidden;
        width:100%;
        height:250px;
    }
    .media-image {
        width:100%;
        height:250px;
    }
}

@media screen and (max-width:415px) {
    tr .btn--cta {
    width:100px;
    }
}

@media screen and (max-width:770px) {
    .media-subtitle {
        font-size:36px;
        text-transform: uppercase;
        text-align: center;
        margin-top:100px;
        margin-bottom:25px;
        margin-left:50px;
        margin-right:50px;
        color:#fafafa;
    }
}

@media screen and (max-width:560px) {
    .media-subtitle {
        font-size:36px;
        text-transform: uppercase;
        text-align: center;
        margin-top:100px;
        margin-bottom:25px;
        margin-left:25px;
        margin-right:25px;
        color:#fafafa;
    }
}

@media screen and (max-width:415px) {
    .media-subtitle {
        font-size:18px;
        text-transform: uppercase;
        text-align: center;
        margin-top:25px;
        margin-bottom:12.5px;
        margin-left:25px;
        margin-right:25px;
        color:#fafafa;
    }
    .media-button-position {
        margin-top:0;
    }
}



.footer-social-item:not(:last-child) {
    margin-right:8px;
}

.main-video-bio {
    margin-top:14px;
    padding:0 45px 0 45px;
}

.media-video-bio {
    margin:14px 0 42px 0;
    padding:0 45px 0 45px;
}

.content-container {
    margin-bottom:50px;
}

.block-divider-pink {
    background-color:#c4302b;
}

.table td {
    vertical-align: middle;
}

#photo {
    column-count:4;
    column-gap:0px;
    margin-top:76px;
}

#photo img {
    width:100%;
}


@media screen and (max-width:770px) {
    #photo {
    column-count:3}
}

@media screen and (max-width:415px) {
    #photo {
    column-count:2}
}

.modal-body p {
    padding:28px 15px 0 15px;
}

.modal-h-color {
    background-color:#c93e4c;
    color:#fafafa;
}

.close {
    color:#ffffff;
    opacity:1;
    right:20px;
}

.form-margin {
    margin-left:15px;
}

@media screen and (max-width:770px) {
.form-margin {
    margin-left:0;
}
}


.contact {
    color:#c93e4c;
}

.navbar i {
    color:#c93e4c;
     margin-top:7px;
    
}

.navbar-toggler {
    font-size:1.50rem;
    padding:0;
}

.modal-content {
    border:none;
}

.media-video {
    margin-top:25px;
}

.audio-display {
    color:#c93e4c;
}

.audio-display:hover {
    color:#c93e4c;
}

.audio-container {
    margin-bottom:50px;
}

.audio-container ul {
    list-style-type:none;
}

.audio-container li {
    margin-bottom:25px;
}

.audio-container li i {
    margin-right:5px;
}

.video-responsive-media {
    max-width:850px;
    margin:0 auto;
}

.video-responsive-main {
    max-width:500px;
    margin:0 auto;
}